[defaults]
roles_path = roles
forks = 4
gathering = smart
host_key_checking = True
#private_role_vars = True
nocows = 1
retry_files_enabled = False
# requires python3 and pip3 and that packages on ubuntu, postpone for now until Ansible 2.12
#interpreter_python = auto
interpreter_python = auto_legacy_silent
# do not commit (AWX won't work)
# Use in your .bashrc: export ANSIBLE_VAULT_PASSWORD_FILE=~/projects/ansible/.vault_secret
#vault_password_file = ./.vault_secret
vars_plugins = ./plugins/vars_plugins/


